<div class="bird-detail-panel">
    <div class="name-panel">
        <h4 class="common-name">{{bird.common_name}}</h4>
        <h5 class="scientific-name">{{bird.scientific_name}}</h5>
    </div>
    
    <div class="image-div">
        <div id="image-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
                {{#each bird.images as |image|}}
                    <div id="carousel-item-{{@index}}" class="carousel-item {{#ifEquals @index 0 }} active {{/ifEquals}}">       

                        <div class="carousel-image-container">
                            <img class="d-block w-100 bird-image"
                                src="{{image.image_url}}" alt="{{../bird.common_name}} {{image.image_name}}"
                                style="object-position: {{image.image_css_x}}% {{image.image_css_y}}%;">
                        </div>

                        <div class="carousel-caption d-md-block">
                            <p class="image-description">{{image.image_name}}</p>
                            <div class="license-panel">
                                Image: 
                                <a href="{{image.image_info_url}}" target="_blank" rel="noopener noreferrer">
                                    {{image.image_author}}</a> | 
                                <a href="{{image.image_license_url}}" target="_blank" rel="noopener noreferrer">
                                    {{image.image_license_code}}
                                </a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <a class="carousel-control-prev" href="#image-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#image-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>

    {{!-- sounds --}}
    <div class="sound-container">
        <h6>Sounds</h6>
        {{#each bird.sounds as |sound|}}
            {{> audio-player sound=sound i=@index last=@last}}
        {{/each}}
    </div>
</div>