<div class="col col-12 col-sm-6 col-md-4 col-lg-3 bird-panel" id="{{bird.common_name}}">
    <div class="name-panel">
        <h4 class="common-name">{{bird.common_name}}</h4>
        <h5 class="scientific-name">{{bird.scientific_name}}</h5>
    </div>

    <div class="image-div">
        <div id="image-carousel-{{num}}" class="carousel slide gallery-carousel" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
                {{#each bird.images as |image|}}
                    <div id="carousel-item-{{@index}}" class="carousel-item {{#ifEquals @index 0 }} active {{/ifEquals}}">
                        <div class="carousel-image-container">
                            <a href="bird-detail/{{../bird.common_name}}{{../back}}">
                                <img class="d-block w-100 bird-image"
                                    src="{{image.image_url}}" alt="{{../bird.common_name}} {{image.image_name}}"
                                    style="object-position: {{image.image_css_x}}% {{image.image_css_y}}%;">
                            </a>
                        </div>
                        <div class="carousel-caption d-md-block">
                            <p class="image-description">{{image.image_name}}</p>
                            <div class="license-panel">
                                <a href="{{image.image_info_url}}" target="_blank" rel="noopener noreferrer">
                                    {{image.image_author}}</a> | 
                                <a href="{{image.image_license_url}}" target="_blank" rel="noopener noreferrer">
                                    {{image.image_license_code}}
                                </a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <a class="carousel-control-prev gallery-carousel-control" href="#image-carousel-{{num}}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next gallery-carousel-control" href="#image-carousel-{{num}}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>

    <div class="sound-div" value="{{bird.sounds.length}}">
        {{> audio-slideshow sounds=bird.sounds num=num numSounds=bird.sounds.length quizGallery=quizGallery}}
    </div>
    <div>
        <button class="btn-sm bg-grey more-button" 
        onclick="location.href='bird-detail/{{bird.common_name}}{{back}}'">
        Bird Profile
        </button>
    </div>
</div> 
