<div class="col col-12 col-sm-6 col-md-4 col-lg-3 bird-panel" id="{{bird.common_name}}">
    <div class="name-panel">
        <h4 class="common-name">{{bird.common_name}}</h4>
        <h5 class="scientific-name">{{bird.scientific_name}}</h5>
    </div>
    
    {{!-- display first image --}}
    <div class="image-div">
        <a href="bird-detail/{{bird.common_name}}{{back}}">
            <img class="bird-image img-fluid"
                src="{{bird.images.0.image_url}}" alt="{{bird.common_name}}"
                style="object-position: {{bird.images.0.image_css_x}}% {{bird.images.0.image_css_y}}%;">
        </a>
        <div class="license-panel">
            Image: 
            <a href="{{bird.images.0.image_info_url}}" target="_blank" rel="noopener noreferrer">
                {{bird.images.0.image_author}}</a> | 
            <a href="{{bird.images.0.image_license_url}}" target="_blank" rel="noopener noreferrer">
                {{bird.images.0.image_license_code}}
            </a>
        </div>
    </div>

    {{!-- display first sound --}}
    <div class="sound-div">
        <h6>{{bird.sounds.0.sound_name}}</h6>
        <audio class="audio-player" src="{{bird.sounds.0.sound_url}}" controls controlsList="nodownload" preload="true">
            Your browser does not support the <code>audio</code> element.
            It can be found at <a href="{{bird.sounds.0.sound_url}}" target="_blank" rel="noopener noreferrer">Xeno</a>.
        </audio>
        <div class="license-panel">
            Audio:
            <a href="{{bird.sounds.0.sound_info_url}}" target="_blank" rel="noopener noreferrer">
                {{bird.sounds.0.sound_recordist}}</a> | 
            <a href="{{bird.sounds.0.sound_license_url}}" target="_blank" rel="noopener noreferrer">
                CC {{bird.sounds.0.sound_license_code}}
            </a>
        </div>
    </div>
    <div>
        <button class="btn-sm bg-grey more-button" onclick="location.href='bird-detail/{{bird.common_name}}{{back}}'">See more</button>
    </div>
</div> 
