<div class="admin-task">
    <h4>{{num}}. Load CSV of bird {{type}}</h4>
    <p>This function expects a csv with the following headings:<br>
    <code>{{expectedHeadings}}</code></p>
    <form id="uploadForm" ref="uploadForm" id="uploadForm" encType="multipart/form-data">
        <input type="file" name="uploadFile" id="uploadFile">
        <input type="button" value="Upload CSV" class="admin-submit" onclick="uploadCSV('{{type}}', {{afterCSVLoad}})">
    </form>
    <div id="upload-csv-feedback" style="border: none;"></div>
    <div class="table-responsive" style="border: none;">
        <table class="table table-light table-bordered" id="birdsTable">
        </table>
    </div>
    <div id="upload-loader-div" class="loader-div" style="display: none;">
        {{> loader }}
    </div>
</div>